<!doctype html>
<html lang="fr">
<head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

   <title>Hello, world!</title>
</head>
<body>
<div class="jumbotron">
   <h1 class="display-4">Hello, world!</h1>
   <p class="lead">Je m'appelle Quentin. Je vous présente ma première page symfony 4 réalisée dans le cadre de la Licence </p>
   <hr class="my-4">
   <img src="{{ asset('images/fox-kojima.png') }}">
</div>
</body>
</html>