<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <title>{% block title %}Inscription/connexion{% endblock %}</title>
   <link href="css/style.css" rel="stylesheet" type="text/css">
   {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="login-page">
   <div class="form">
       {% block body %}
       {% endblock %}
   </div>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>